.footer {
  width: 100%;
  min-width: 337px;
  background: url(/images/footerbackground-DESKTOP-JPPUNSI.webp);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &__social-work-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.logo--small {
  width: 100px;
  height: 100px;
}
.socail-links__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.copyright {
  font-size: 2rem;
  text-align: center;
  color: $color-secondary;

  span {
    color: black;
  }
}
.devloper {
  font-size: 1.2rem;
  text-align: center;

  a {
    color: black;
    font-size: 1.2rem;
  }
  a:hover {
    border-bottom: 1px solid black;
  }
}
.footer-social-icon {
  color: $color-secondary;
  transition: all 0.3s;
}
.footer-social-icon:hover {
  color: black;
  transform: scaleY(1.1);
}
@media only screen and (max-width: 420px) {
  .footer {
    padding-top: 1rem;
  }
  .devloper {
    font-size: 1.5rem;
  }
}
