// box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
.a-links {
  display: block;
  text-decoration: none;
  font-size: large;
  color: $color-secondary;
}
.a-links:hover {
  color: $color-primary;
}
a {
  display: block;
  text-decoration: none;
  font-size: large;
  color: $color-secondary;
}
a:hover {
  color: $color-primary;
}
.navbar-brand img {
  width: 100px;
  height: 100px;
  margin-left: 2rem;
}
